{
  "openapi": "3.1.0",
  "info": {
    "title": "Spike API",
    "description": "AI companion platform API - create personalities that see, listen, speak, remember, and play.",
    "version": "1.0.0",
    "contact": {
      "name": "Spike Labs",
      "email": "developers@spikelabsinc.com",
      "url": "https://www.spikelabsinc.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.spike.dev/v1",
      "description": "Production"
    },
    {
      "url": "https://api.spike.dev/v1-sandbox",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Keys",
      "description": "Manage API keys for authentication"
    },
    {
      "name": "Personalities",
      "description": "Define AI personality, voice, and appearance"
    },
    {
      "name": "Users",
      "description": "Manage end users who interact with personalities"
    },
    {
      "name": "Memories",
      "description": "User memories scoped per personality"
    },
    {
      "name": "Chat",
      "description": "Text-based chat completions"
    },
    {
      "name": "Voice",
      "description": "Speech synthesis and recognition"
    },
    {
      "name": "Video",
      "description": "Asynchronous video generation"
    },
    {
      "name": "Image",
      "description": "Image generation and editing"
    },
    {
      "name": "Knowledge",
      "description": "Personality knowledge base management"
    },
    {
      "name": "Conversations",
      "description": "Real-time WebRTC voice/video sessions"
    },
    {
      "name": "Games",
      "description": "Turn-based games with personalities"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations and webhooks"
    }
  ],
  "paths": {
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": ["API Keys"],
        "summary": "List API keys",
        "description": "List all API keys for the authenticated organization. Secret keys are partially redacted.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "tags": ["API Keys"],
        "summary": "Create API key",
        "description": "Create a new API key. The full secret is only returned once at creation time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api-keys/{key_id}": {
      "get": {
        "operationId": "getApiKey",
        "tags": ["API Keys"],
        "summary": "Get API key",
        "description": "Retrieve details of a specific API key.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key ID (starts with `key_`)"
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateApiKey",
        "tags": ["API Keys"],
        "summary": "Update API key",
        "description": "Update API key name or permissions.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteApiKey",
        "tags": ["API Keys"],
        "summary": "Revoke API key",
        "description": "Permanently revoke an API key. This action cannot be undone.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/personalities": {
      "get": {
        "operationId": "listPersonalities",
        "tags": ["Personalities"],
        "summary": "List personalities",
        "description": "List all personalities in the organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of personalities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Personality"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPersonality",
        "tags": ["Personalities"],
        "summary": "Create personality",
        "description": "Create a new AI personality with voice, appearance, and behavioral traits.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonalityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Personality created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Personality"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/personalities/{personality_id}": {
      "get": {
        "operationId": "getPersonality",
        "tags": ["Personalities"],
        "summary": "Get personality",
        "description": "Retrieve a specific personality by ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Personality details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Personality"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePersonality",
        "tags": ["Personalities"],
        "summary": "Update personality",
        "description": "Update an existing personality. Only provided fields are updated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonalityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personality updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Personality"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePersonality",
        "tags": ["Personalities"],
        "summary": "Delete personality",
        "description": "Delete a personality and all associated knowledge base data. Active conversations using this personality will be terminated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Personality deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "tags": ["Users"],
        "summary": "List users",
        "description": "List all users in the organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by external ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "tags": ["Users"],
        "summary": "Create user",
        "description": "Create a new user. Users represent the people interacting with your AI personalities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "User with this external_id already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "getUser",
        "tags": ["Users"],
        "summary": "Get user",
        "description": "Retrieve a specific user by ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "tags": ["Users"],
        "summary": "Update user",
        "description": "Update user metadata or settings.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": ["Users"],
        "summary": "Delete user",
        "description": "Delete a user and all associated memories and integration connections. This action cannot be undone.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/external/{external_id}": {
      "get": {
        "operationId": "getUserByExternalId",
        "tags": ["Users"],
        "summary": "Get user by external ID",
        "description": "Retrieve a user by your external identifier.",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your external user identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories": {
      "get": {
        "operationId": "listMemories",
        "tags": ["Memories"],
        "summary": "List memories",
        "description": "List all memories for a user, optionally filtered by personality.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          },
          {
            "name": "personality_id",
            "in": "query",
            "description": "Filter by personality",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "schema": {
              "$ref": "#/components/schemas/MemoryCategory"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of memories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Memory"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createMemory",
        "tags": ["Memories"],
        "summary": "Create memory",
        "description": "Manually create a memory for a user-personality pair.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteAllMemories",
        "tags": ["Memories"],
        "summary": "Delete all memories",
        "description": "Delete all memories for a user, optionally filtered by personality.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          },
          {
            "name": "personality_id",
            "in": "query",
            "description": "Only delete memories for this personality",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memories deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["deleted_count"],
                  "properties": {
                    "deleted_count": {
                      "type": "integer",
                      "description": "Number of memories deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories/{memory_id}": {
      "get": {
        "operationId": "getMemory",
        "tags": ["Memories"],
        "summary": "Get memory",
        "description": "Retrieve a specific memory.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          },
          {
            "$ref": "#/components/parameters/MemoryIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memory"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateMemory",
        "tags": ["Memories"],
        "summary": "Update memory",
        "description": "Update a memory's content or category.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          },
          {
            "$ref": "#/components/parameters/MemoryIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteMemory",
        "tags": ["Memories"],
        "summary": "Delete memory",
        "description": "Delete a specific memory.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          },
          {
            "$ref": "#/components/parameters/MemoryIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories/search": {
      "post": {
        "operationId": "searchMemories",
        "tags": ["Memories"],
        "summary": "Search memories",
        "description": "Semantic search across a user's memories.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "personality_id": {
                    "type": "string",
                    "description": "Filter by personality"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 100
                  },
                  "min_relevance": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Minimum relevance score (0-1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Memory"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "relevance": {
                                "type": "number",
                                "description": "Relevance score (0-1)"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories/bulk": {
      "post": {
        "operationId": "bulkCreateMemories",
        "tags": ["Memories"],
        "summary": "Bulk create memories",
        "description": "Create multiple memories at once.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["personality_id", "memories"],
                "properties": {
                  "personality_id": {
                    "type": "string",
                    "description": "Personality to associate memories with"
                  },
                  "memories": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": ["content"],
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "category": {
                          "$ref": "#/components/schemas/MemoryCategory"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memories created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["created_count", "data"],
                  "properties": {
                    "created_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Memory"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "tags": ["Chat"],
        "summary": "Create chat completion",
        "description": "Generate a chat response using a personality. Supports streaming via SSE.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-sent events stream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/voice/synthesize": {
      "post": {
        "operationId": "synthesizeSpeech",
        "tags": ["Voice"],
        "summary": "Synthesize speech",
        "description": "Convert text to speech using a personality's voice configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynthesizeSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio data",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/voice/recognize": {
      "post": {
        "operationId": "recognizeSpeech",
        "tags": ["Voice"],
        "summary": "Recognize speech",
        "description": "Convert speech audio to text.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["audio"],
                "properties": {
                  "audio": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file (mp3, wav, webm, ogg)"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g., 'en', 'es')",
                    "default": "en"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional context to improve recognition"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/video/generations": {
      "post": {
        "operationId": "createVideoGeneration",
        "tags": ["Video"],
        "summary": "Create video generation",
        "description": "Generate a video of a personality speaking. This is an async operation - poll the returned ID for status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Video generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGeneration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "operationId": "listVideoGenerations",
        "tags": ["Video"],
        "summary": "List video generations",
        "description": "List video generation jobs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/VideoStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of video generations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoGeneration"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/generations/{generation_id}": {
      "get": {
        "operationId": "getVideoGeneration",
        "tags": ["Video"],
        "summary": "Get video generation",
        "description": "Get the status and result of a video generation job.",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGeneration"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "cancelVideoGeneration",
        "tags": ["Video"],
        "summary": "Cancel video generation",
        "description": "Cancel a pending video generation job.",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGeneration"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/image/generations": {
      "post": {
        "operationId": "createImageGeneration",
        "tags": ["Image"],
        "summary": "Generate image",
        "description": "Generate an image from a text prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/image/edits": {
      "post": {
        "operationId": "createImageEdit",
        "tags": ["Image"],
        "summary": "Edit image",
        "description": "Edit an existing image based on a prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image", "prompt"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Source image to edit"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Mask indicating areas to edit"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description of the edit"
                  },
                  "size": {
                    "type": "string",
                    "enum": ["256x256", "512x512", "1024x1024"],
                    "default": "1024x1024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/personalities/{personality_id}/knowledge": {
      "get": {
        "operationId": "listKnowledgeItems",
        "tags": ["Knowledge"],
        "summary": "List knowledge items",
        "description": "List all knowledge items for a personality.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/KnowledgeType"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of knowledge items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KnowledgeItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createKnowledgeItem",
        "tags": ["Knowledge"],
        "summary": "Add knowledge item",
        "description": "Add a document, URL, or text to a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file (PDF, TXT, MD, DOCX)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Knowledge item created (processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/personalities/{personality_id}/knowledge/{item_id}": {
      "get": {
        "operationId": "getKnowledgeItem",
        "tags": ["Knowledge"],
        "summary": "Get knowledge item",
        "description": "Get details of a knowledge item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteKnowledgeItem",
        "tags": ["Knowledge"],
        "summary": "Delete knowledge item",
        "description": "Remove a knowledge item from a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/personalities/{personality_id}/knowledge/search": {
      "post": {
        "operationId": "searchKnowledge",
        "tags": ["Knowledge"],
        "summary": "Search knowledge",
        "description": "Semantic search across a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 5,
                    "maximum": 20
                  },
                  "min_relevance": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KnowledgeSearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "operationId": "createConversation",
        "tags": ["Conversations"],
        "summary": "Create conversation",
        "description": "Start a new real-time conversation session. Returns connection details for WebRTC.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "operationId": "listConversations",
        "tags": ["Conversations"],
        "summary": "List conversations",
        "description": "List conversation sessions.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personality_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ConversationStatus"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_id}": {
      "get": {
        "operationId": "getConversation",
        "tags": ["Conversations"],
        "summary": "Get conversation",
        "description": "Get conversation details including transcript.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_transcript",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "endConversation",
        "tags": ["Conversations"],
        "summary": "End conversation",
        "description": "End an active conversation session.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/games": {
      "get": {
        "operationId": "listGames",
        "tags": ["Games"],
        "summary": "List available games",
        "description": "List all games that personalities can play.",
        "responses": {
          "200": {
            "description": "List of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GameDefinition"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game-sessions": {
      "post": {
        "operationId": "createGameSession",
        "tags": ["Games"],
        "summary": "Create game session",
        "description": "Start a new game session with a personality.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGameSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Game session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "operationId": "listGameSessions",
        "tags": ["Games"],
        "summary": "List game sessions",
        "description": "List game sessions.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GameSessionStatus"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of game sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "has_more"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GameSession"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game-sessions/{session_id}": {
      "get": {
        "operationId": "getGameSession",
        "tags": ["Games"],
        "summary": "Get game session",
        "description": "Get game session details and state.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSession"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/game-sessions/{session_id}/move": {
      "post": {
        "operationId": "submitGameMove",
        "tags": ["Games"],
        "summary": "Submit move",
        "description": "Submit a move in a game session. Returns the personality's response move.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameMoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Move result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMoveResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "tags": ["Integrations"],
        "summary": "List webhooks",
        "description": "List all webhook endpoints.",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "tags": ["Integrations"],
        "summary": "Create webhook",
        "description": "Register a new webhook endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "operationId": "getWebhook",
        "tags": ["Integrations"],
        "summary": "Get webhook",
        "description": "Get webhook details.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "tags": ["Integrations"],
        "summary": "Update webhook",
        "description": "Update webhook configuration.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "tags": ["Integrations"],
        "summary": "Delete webhook",
        "description": "Delete a webhook endpoint.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/integrations": {
      "get": {
        "operationId": "listUserIntegrations",
        "tags": ["Integrations"],
        "summary": "List user integrations",
        "description": "List connected third-party integrations for a user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserIntegration"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/integrations/{provider}": {
      "delete": {
        "operationId": "disconnectIntegration",
        "tags": ["Integrations"],
        "summary": "Disconnect integration",
        "description": "Disconnect a third-party integration for a user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdParam"
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["google", "spotify", "apple_music", "calendar"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Use your secret key (starts with `sk_`) as a Bearer token."
      }
    },
    "parameters": {
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Number of items to return (1-100)",
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1,
          "maximum": 100
        }
      },
      "CursorParam": {
        "name": "cursor",
        "in": "query",
        "description": "Pagination cursor from previous response",
        "schema": {
          "type": "string"
        }
      },
      "PersonalityIdParam": {
        "name": "personality_id",
        "in": "path",
        "required": true,
        "description": "Personality ID (starts with `personality_`)",
        "schema": {
          "type": "string"
        }
      },
      "UserIdParam": {
        "name": "user_id",
        "in": "path",
        "required": true,
        "description": "User ID (starts with `user_`)",
        "schema": {
          "type": "string"
        }
      },
      "MemoryIdParam": {
        "name": "memory_id",
        "in": "path",
        "required": true,
        "description": "Memory ID (starts with `mem_`)",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "example": "invalid_request"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "param": {
                "type": "string",
                "description": "Parameter that caused the error",
                "nullable": true
              }
            }
          }
        }
      },
      "DeletedObject": {
        "type": "object",
        "required": ["id", "object", "deleted"],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean",
            "enum": [true]
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": ["id", "object", "name", "key_prefix", "scopes", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier",
            "example": "key_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["api_key"]
          },
          "name": {
            "type": "string",
            "description": "Display name for the key",
            "example": "Production API Key"
          },
          "key_prefix": {
            "type": "string",
            "description": "First 8 characters of the key for identification",
            "example": "sk_live_"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["*", "read", "write", "conversations", "chat", "voice", "video"]
            },
            "description": "Permissions granted to this key"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKeyWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "required": ["secret"],
            "properties": {
              "secret": {
                "type": "string",
                "description": "The full secret key. Only returned at creation time.",
                "example": "sk_live_abc123xyz789..."
              }
            }
          }
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name for the key",
            "maxLength": 100
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["*", "read", "write", "conversations", "chat", "voice", "video"]
            },
            "default": ["*"],
            "description": "Permissions to grant"
          }
        }
      },
      "UpdateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["*", "read", "write", "conversations", "chat", "voice", "video"]
            }
          }
        }
      },
      "Personality": {
        "type": "object",
        "required": ["id", "object", "name", "created_at", "updated_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier",
            "example": "personality_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["personality"]
          },
          "name": {
            "type": "string",
            "description": "Display name",
            "example": "Luv"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Brief description of the personality"
          },
          "system_prompt": {
            "type": "string",
            "nullable": true,
            "description": "System prompt that defines behavior"
          },
          "voice": {
            "$ref": "#/components/schemas/VoiceConfig"
          },
          "appearance": {
            "$ref": "#/components/schemas/AppearanceConfig"
          },
          "traits": {
            "$ref": "#/components/schemas/PersonalityTraits"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom key-value metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VoiceConfig": {
        "type": "object",
        "nullable": true,
        "properties": {
          "provider": {
            "type": "string",
            "enum": ["elevenlabs", "cartesia", "azure", "openai"],
            "description": "TTS provider"
          },
          "voice_id": {
            "type": "string",
            "description": "Provider-specific voice identifier"
          },
          "settings": {
            "type": "object",
            "properties": {
              "stability": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "similarity_boost": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "speed": {
                "type": "number",
                "minimum": 0.5,
                "maximum": 2
              }
            }
          }
        }
      },
      "AppearanceConfig": {
        "type": "object",
        "nullable": true,
        "properties": {
          "avatar_id": {
            "type": "string",
            "description": "Avatar/replica identifier"
          },
          "style": {
            "type": "string",
            "enum": ["realistic", "stylized", "animated"],
            "default": "realistic"
          },
          "background": {
            "type": "string",
            "description": "Background setting: 'transparent', 'blur', or URL"
          }
        }
      },
      "PersonalityTraits": {
        "type": "object",
        "nullable": true,
        "description": "Behavioral trait sliders (0-1)",
        "properties": {
          "warmth": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How warm and friendly"
          },
          "humor": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How playful and humorous"
          },
          "formality": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How formal vs casual"
          },
          "verbosity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How detailed in responses"
          },
          "empathy": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How emotionally responsive"
          }
        }
      },
      "CreatePersonalityRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "system_prompt": {
            "type": "string",
            "maxLength": 10000
          },
          "voice": {
            "$ref": "#/components/schemas/VoiceConfig"
          },
          "appearance": {
            "$ref": "#/components/schemas/AppearanceConfig"
          },
          "traits": {
            "$ref": "#/components/schemas/PersonalityTraits"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UpdatePersonalityRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "system_prompt": {
            "type": "string",
            "maxLength": 10000
          },
          "voice": {
            "$ref": "#/components/schemas/VoiceConfig"
          },
          "appearance": {
            "$ref": "#/components/schemas/AppearanceConfig"
          },
          "traits": {
            "$ref": "#/components/schemas/PersonalityTraits"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "User": {
        "type": "object",
        "required": ["id", "object", "created_at", "updated_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier",
            "example": "user_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["user"]
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "Your external user identifier"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom user data (name, email, etc.)"
          },
          "settings": {
            "type": "object",
            "properties": {
              "memory_enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether to auto-create memories"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Your external user identifier"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "settings": {
            "type": "object",
            "properties": {
              "memory_enabled": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "maxLength": 255
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "settings": {
            "type": "object",
            "properties": {
              "memory_enabled": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "MemoryCategory": {
        "type": "string",
        "enum": ["personal", "location", "preference", "relationship", "schedule", "context", "custom"],
        "description": "Category of memory"
      },
      "Memory": {
        "type": "object",
        "required": ["id", "object", "user_id", "personality_id", "content", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier",
            "example": "mem_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["memory"]
          },
          "user_id": {
            "type": "string",
            "description": "User this memory belongs to"
          },
          "personality_id": {
            "type": "string",
            "description": "Personality this memory is scoped to"
          },
          "content": {
            "type": "string",
            "description": "The memory content"
          },
          "category": {
            "$ref": "#/components/schemas/MemoryCategory"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score (1.0 for manually created)"
          },
          "source": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string",
                "enum": ["conversation", "manual", "import"]
              },
              "conversation_id": {
                "type": "string",
                "nullable": true
              },
              "extracted_from": {
                "type": "string",
                "nullable": true,
                "description": "Original text this was extracted from"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last time this memory was retrieved in a conversation"
          }
        }
      },
      "CreateMemoryRequest": {
        "type": "object",
        "required": ["personality_id", "content"],
        "properties": {
          "personality_id": {
            "type": "string",
            "description": "Personality to associate this memory with"
          },
          "content": {
            "type": "string",
            "maxLength": 2000,
            "description": "The memory content"
          },
          "category": {
            "$ref": "#/components/schemas/MemoryCategory"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UpdateMemoryRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 2000
          },
          "category": {
            "$ref": "#/components/schemas/MemoryCategory"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant"]
          },
          "content": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Optional name for the message author"
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["personality_id", "messages"],
        "properties": {
          "personality_id": {
            "type": "string",
            "description": "Personality to use for the response"
          },
          "user_id": {
            "type": "string",
            "description": "User for memory context (optional)"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream response via SSE"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4096,
            "default": 1024
          },
          "include_memories": {
            "type": "boolean",
            "default": true,
            "description": "Include relevant user memories in context"
          },
          "include_knowledge": {
            "type": "boolean",
            "default": true,
            "description": "Include relevant knowledge base content"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "required": ["id", "object", "created", "choices"],
        "properties": {
          "id": {
            "type": "string",
            "example": "chat_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["chat.completion"]
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "personality_id": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "message", "finish_reason"],
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatMessage"
                },
                "finish_reason": {
                  "type": "string",
                  "enum": ["stop", "length", "content_filter"]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          },
          "memories_used": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of memories included in context"
          }
        }
      },
      "SynthesizeSpeechRequest": {
        "type": "object",
        "required": ["personality_id", "text"],
        "properties": {
          "personality_id": {
            "type": "string",
            "description": "Personality whose voice to use"
          },
          "text": {
            "type": "string",
            "maxLength": 5000,
            "description": "Text to synthesize"
          },
          "format": {
            "type": "string",
            "enum": ["mp3", "wav", "opus"],
            "default": "mp3"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "emotion": {
            "type": "string",
            "enum": ["neutral", "happy", "sad", "excited", "calm"],
            "default": "neutral"
          }
        }
      },
      "TranscriptionResponse": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Transcribed text"
          },
          "language": {
            "type": "string",
            "description": "Detected language code"
          },
          "duration": {
            "type": "number",
            "description": "Audio duration in seconds"
          },
          "words": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "word": {
                  "type": "string"
                },
                "start": {
                  "type": "number"
                },
                "end": {
                  "type": "number"
                },
                "confidence": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "VideoStatus": {
        "type": "string",
        "enum": ["pending", "processing", "completed", "failed", "cancelled"]
      },
      "CreateVideoRequest": {
        "type": "object",
        "required": ["personality_id"],
        "properties": {
          "personality_id": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "maxLength": 5000,
            "description": "Text for the avatar to speak"
          },
          "audio_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of audio file to lip-sync (alternative to text)"
          },
          "duration": {
            "type": "integer",
            "minimum": 1,
            "maximum": 300,
            "description": "Max duration in seconds"
          },
          "resolution": {
            "type": "string",
            "enum": ["480p", "720p", "1080p"],
            "default": "720p"
          },
          "background": {
            "type": "string",
            "description": "Background: 'transparent', 'blur', or image URL"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to notify when complete"
          }
        }
      },
      "VideoGeneration": {
        "type": "object",
        "required": ["id", "object", "status", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "example": "vid_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["video.generation"]
          },
          "personality_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/VideoStatus"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Progress percentage"
          },
          "video_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL of completed video"
          },
          "thumbnail_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "duration": {
            "type": "number",
            "nullable": true,
            "description": "Video duration in seconds"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CreateImageRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "maxLength": 4000
          },
          "size": {
            "type": "string",
            "enum": ["256x256", "512x512", "1024x1024", "1024x1792", "1792x1024"],
            "default": "1024x1024"
          },
          "quality": {
            "type": "string",
            "enum": ["standard", "hd"],
            "default": "standard"
          },
          "style": {
            "type": "string",
            "enum": ["natural", "vivid"],
            "default": "natural"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "Number of images to generate"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "required": ["created", "data"],
        "properties": {
          "created": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string",
                  "description": "Base64 encoded image"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "KnowledgeType": {
        "type": "string",
        "enum": ["document", "url", "text", "feed"]
      },
      "KnowledgeStatus": {
        "type": "string",
        "enum": ["pending", "processing", "ready", "failed"]
      },
      "KnowledgeItem": {
        "type": "object",
        "required": ["id", "object", "type", "status", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "example": "kb_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["knowledge_item"]
          },
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/KnowledgeType"
          },
          "status": {
            "$ref": "#/components/schemas/KnowledgeStatus"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "content_preview": {
            "type": "string",
            "nullable": true,
            "description": "First 500 characters"
          },
          "chunk_count": {
            "type": "integer",
            "description": "Number of indexed chunks"
          },
          "token_count": {
            "type": "integer",
            "description": "Total tokens"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateKnowledgeRequest": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/KnowledgeType"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to fetch (for url/feed types)"
          },
          "content": {
            "type": "string",
            "maxLength": 100000,
            "description": "Text content (for text type)"
          },
          "refresh_interval": {
            "type": "string",
            "enum": ["hourly", "daily", "weekly", "never"],
            "default": "never",
            "description": "Auto-refresh for URL/feed types"
          }
        }
      },
      "KnowledgeSearchResult": {
        "type": "object",
        "required": ["item_id", "chunk", "relevance"],
        "properties": {
          "item_id": {
            "type": "string"
          },
          "item_name": {
            "type": "string"
          },
          "chunk": {
            "type": "string",
            "description": "Matching text chunk"
          },
          "relevance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "ConversationStatus": {
        "type": "string",
        "enum": ["connecting", "active", "ended", "failed"]
      },
      "ConversationMode": {
        "type": "string",
        "enum": ["voice", "video", "voice_video"]
      },
      "CreateConversationRequest": {
        "type": "object",
        "required": ["personality_id"],
        "properties": {
          "personality_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "mode": {
            "$ref": "#/components/schemas/ConversationMode"
          },
          "initial_message": {
            "type": "string",
            "description": "Optional greeting from the personality"
          },
          "config": {
            "type": "object",
            "properties": {
              "video_enabled": {
                "type": "boolean",
                "default": true
              },
              "audio_enabled": {
                "type": "boolean",
                "default": true
              },
              "vad_enabled": {
                "type": "boolean",
                "default": true,
                "description": "Voice activity detection"
              },
              "interruption_enabled": {
                "type": "boolean",
                "default": true,
                "description": "Allow user to interrupt AI"
              }
            }
          }
        }
      },
      "Conversation": {
        "type": "object",
        "required": ["id", "object", "personality_id", "status", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "example": "conv_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["conversation"]
          },
          "personality_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "mode": {
            "$ref": "#/components/schemas/ConversationMode"
          },
          "room_url": {
            "type": "string",
            "format": "uri",
            "description": "WebRTC room URL"
          },
          "room_token": {
            "type": "string",
            "description": "Token to join the room"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds",
            "nullable": true
          },
          "transcript": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["user", "assistant"]
                },
                "content": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "number"
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GameDefinition": {
        "type": "object",
        "required": ["id", "name", "type"],
        "properties": {
          "id": {
            "type": "string",
            "example": "game_tictactoe"
          },
          "name": {
            "type": "string",
            "example": "Tic Tac Toe"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["turn_based", "real_time"]
          },
          "min_players": {
            "type": "integer"
          },
          "max_players": {
            "type": "integer"
          },
          "rules": {
            "type": "string",
            "description": "Game rules in markdown"
          }
        }
      },
      "GameSessionStatus": {
        "type": "string",
        "enum": ["waiting", "active", "completed", "abandoned"]
      },
      "CreateGameSessionRequest": {
        "type": "object",
        "required": ["game_id", "personality_id"],
        "properties": {
          "game_id": {
            "type": "string"
          },
          "personality_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "difficulty": {
            "type": "string",
            "enum": ["easy", "medium", "hard"],
            "default": "medium"
          },
          "user_goes_first": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "GameSession": {
        "type": "object",
        "required": ["id", "object", "game_id", "personality_id", "status", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "example": "gs_abc123"
          },
          "object": {
            "type": "string",
            "enum": ["game_session"]
[...]
