{
  "openapi": "3.1.0",
  "info": {
    "title": "Spike API",
    "description": "AI companion platform API - create personalities that see, listen, speak, remember, and play.",
    "version": "1.0.0",
    "contact": {
      "name": "Spike Labs",
      "email": "developers@spikelabsinc.com",
      "url": "https://www.spikelabs.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.spikelabs.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.spikelabs.com/v1",
      "description": "Production"
    },
    {
      "url": "https://api.spikelabs.com/v1-sandbox",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Keys",
      "description": "Manage API keys for authentication"
    },
    {
      "name": "Personalities",
      "description": "Define AI personality, voice, and appearance"
    },
    {
      "name": "Users",
      "description": "Manage end users who interact with personalities"
    },
    {
      "name": "Memories",
      "description": "User memories scoped per personality"
    },
    {
      "name": "Chat",
      "description": "Text-based chat completions"
    },
    {
      "name": "Voice",
      "description": "Speech synthesis and recognition"
    },
    {
      "name": "Video",
      "description": "Asynchronous video generation"
    },
    {
      "name": "Image",
      "description": "Image generation and editing"
    },
    {
      "name": "Knowledge",
      "description": "Personality knowledge base management"
    },
    {
      "name": "Conversations",
      "description": "Real-time WebRTC voice/video sessions"
    },
    {
      "name": "Games",
      "description": "Turn-based games with personalities"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations and webhooks"
    }
  ],
  "paths": {
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "List all API keys for the authenticated organization. Secret keys are partially redacted.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/ApiKey"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "./components/responses.json#/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Create API key",
        "description": "Create a new API key. The full secret is only returned once at creation time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/ApiKeyWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "401": {
            "$ref": "./components/responses.json#/Unauthorized"
          }
        }
      }
    },
    "/api-keys/{key_id}": {
      "get": {
        "operationId": "getApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Get API key",
        "description": "Retrieve details of a specific API key.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key ID (starts with `key_`)"
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/ApiKey"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Update API key",
        "description": "Update API key name or permissions.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/UpdateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/ApiKey"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke API key",
        "description": "Permanently revoke an API key. This action cannot be undone.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/personalities": {
      "get": {
        "operationId": "listPersonalities",
        "tags": [
          "Personalities"
        ],
        "summary": "List personalities",
        "description": "List all personalities in the organization.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of personalities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/Personality"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "./components/responses.json#/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Create personality",
        "description": "Create a new AI personality with voice, appearance, and behavioral traits.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreatePersonalityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Personality created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Personality"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "401": {
            "$ref": "./components/responses.json#/Unauthorized"
          }
        }
      }
    },
    "/personalities/{personality_id}": {
      "get": {
        "operationId": "getPersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Get personality",
        "description": "Retrieve a specific personality by ID.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Personality details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Personality"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Update personality",
        "description": "Update an existing personality. Only provided fields are updated.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/UpdatePersonalityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personality updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Personality"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Delete personality",
        "description": "Delete a personality and all associated knowledge base data. Active conversations using this personality will be terminated.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Personality deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "List all users in the organization.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by external ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/User"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "./components/responses.json#/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "summary": "Create user",
        "description": "Create a new user. Users represent the people interacting with your AI personalities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/User"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "409": {
            "description": "User with this external_id already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "description": "Retrieve a specific user by ID.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/User"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "Update user metadata or settings.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/User"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Delete a user and all associated memories and integration connections. This action cannot be undone.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/external/{external_id}": {
      "get": {
        "operationId": "getUserByExternalId",
        "tags": [
          "Users"
        ],
        "summary": "Get user by external ID",
        "description": "Retrieve a user by your external identifier.",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your external user identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/User"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories": {
      "get": {
        "operationId": "listMemories",
        "tags": [
          "Memories"
        ],
        "summary": "List memories",
        "description": "List all memories for a user, optionally filtered by personality.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          },
          {
            "name": "personality_id",
            "in": "query",
            "description": "Filter by personality",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "schema": {
              "$ref": "./components/schemas.json#/MemoryCategory"
            }
          },
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of memories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/Memory"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Create memory",
        "description": "Manually create a memory for a user-personality pair.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Memory"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteAllMemories",
        "tags": [
          "Memories"
        ],
        "summary": "Delete all memories",
        "description": "Delete all memories for a user, optionally filtered by personality.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          },
          {
            "name": "personality_id",
            "in": "query",
            "description": "Only delete memories for this personality",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memories deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted_count"
                  ],
                  "properties": {
                    "deleted_count": {
                      "type": "integer",
                      "description": "Number of memories deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories/{memory_id}": {
      "get": {
        "operationId": "getMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Get memory",
        "description": "Retrieve a specific memory.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          },
          {
            "$ref": "./components/parameters.json#/MemoryIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Memory"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Update memory",
        "description": "Update a memory's content or category.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          },
          {
            "$ref": "./components/parameters.json#/MemoryIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/UpdateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Memory"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Delete memory",
        "description": "Delete a specific memory.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          },
          {
            "$ref": "./components/parameters.json#/MemoryIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories/search": {
      "post": {
        "operationId": "searchMemories",
        "tags": [
          "Memories"
        ],
        "summary": "Search memories",
        "description": "Semantic search across a user's memories.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "personality_id": {
                    "type": "string",
                    "description": "Filter by personality"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 100
                  },
                  "min_relevance": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Minimum relevance score (0-1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "./components/schemas.json#/Memory"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "relevance": {
                                "type": "number",
                                "description": "Relevance score (0-1)"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/memories/bulk": {
      "post": {
        "operationId": "bulkCreateMemories",
        "tags": [
          "Memories"
        ],
        "summary": "Bulk create memories",
        "description": "Create multiple memories at once.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "personality_id",
                  "memories"
                ],
                "properties": {
                  "personality_id": {
                    "type": "string",
                    "description": "Personality to associate memories with"
                  },
                  "memories": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "content"
                      ],
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "category": {
                          "$ref": "./components/schemas.json#/MemoryCategory"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memories created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "created_count",
                    "data"
                  ],
                  "properties": {
                    "created_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/Memory"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "summary": "Create chat completion",
        "description": "Generate a chat response using a personality. Supports streaming via SSE.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-sent events stream"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "401": {
            "$ref": "./components/responses.json#/Unauthorized"
          }
        }
      }
    },
    "/voice/synthesize": {
      "post": {
        "operationId": "synthesizeSpeech",
        "tags": [
          "Voice"
        ],
        "summary": "Synthesize speech",
        "description": "Convert text to speech using a personality's voice configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/SynthesizeSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio data",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      }
    },
    "/voice/recognize": {
      "post": {
        "operationId": "recognizeSpeech",
        "tags": [
          "Voice"
        ],
        "summary": "Recognize speech",
        "description": "Convert speech audio to text.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "audio"
                ],
                "properties": {
                  "audio": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file (mp3, wav, webm, ogg)"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g., 'en', 'es')",
                    "default": "en"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional context to improve recognition"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/TranscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      }
    },
    "/video/generations": {
      "post": {
        "operationId": "createVideoGeneration",
        "tags": [
          "Video"
        ],
        "summary": "Create video generation",
        "description": "Generate a video of a personality speaking. This is an async operation - poll the returned ID for status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Video generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/VideoGeneration"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      },
      "get": {
        "operationId": "listVideoGenerations",
        "tags": [
          "Video"
        ],
        "summary": "List video generations",
        "description": "List video generation jobs.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "./components/schemas.json#/VideoStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of video generations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/VideoGeneration"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/generations/{generation_id}": {
      "get": {
        "operationId": "getVideoGeneration",
        "tags": [
          "Video"
        ],
        "summary": "Get video generation",
        "description": "Get the status and result of a video generation job.",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/VideoGeneration"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "cancelVideoGeneration",
        "tags": [
          "Video"
        ],
        "summary": "Cancel video generation",
        "description": "Cancel a pending video generation job.",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/VideoGeneration"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/image/generations": {
      "post": {
        "operationId": "createImageGeneration",
        "tags": [
          "Image"
        ],
        "summary": "Generate image",
        "description": "Generate an image from a text prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      }
    },
    "/image/edits": {
      "post": {
        "operationId": "createImageEdit",
        "tags": [
          "Image"
        ],
        "summary": "Edit image",
        "description": "Edit an existing image based on a prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "prompt"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Source image to edit"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Mask indicating areas to edit"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description of the edit"
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "default": "1024x1024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      }
    },
    "/personalities/{personality_id}/knowledge": {
      "get": {
        "operationId": "listKnowledgeItems",
        "tags": [
          "Knowledge"
        ],
        "summary": "List knowledge items",
        "description": "List all knowledge items for a personality.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "./components/schemas.json#/KnowledgeType"
            }
          },
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of knowledge items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/KnowledgeItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createKnowledgeItem",
        "tags": [
          "Knowledge"
        ],
        "summary": "Add knowledge item",
        "description": "Add a document, URL, or text to a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateKnowledgeRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file (PDF, TXT, MD, DOCX)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Knowledge item created (processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/KnowledgeItem"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/personalities/{personality_id}/knowledge/{item_id}": {
      "get": {
        "operationId": "getKnowledgeItem",
        "tags": [
          "Knowledge"
        ],
        "summary": "Get knowledge item",
        "description": "Get details of a knowledge item.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/KnowledgeItem"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteKnowledgeItem",
        "tags": [
          "Knowledge"
        ],
        "summary": "Delete knowledge item",
        "description": "Remove a knowledge item from a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/personalities/{personality_id}/knowledge/search": {
      "post": {
        "operationId": "searchKnowledge",
        "tags": [
          "Knowledge"
        ],
        "summary": "Search knowledge",
        "description": "Semantic search across a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 5,
                    "maximum": 20
                  },
                  "min_relevance": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/KnowledgeSearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "operationId": "createConversation",
        "tags": [
          "Conversations"
        ],
        "summary": "Create conversation",
        "description": "Start a new real-time conversation session. Returns connection details for WebRTC.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      },
      "get": {
        "operationId": "listConversations",
        "tags": [
          "Conversations"
        ],
        "summary": "List conversations",
        "description": "List conversation sessions.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personality_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "./components/schemas.json#/ConversationStatus"
            }
          },
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/Conversation"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_id}": {
      "get": {
        "operationId": "getConversation",
        "tags": [
          "Conversations"
        ],
        "summary": "Get conversation",
        "description": "Get conversation details including transcript.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_transcript",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Conversation"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "endConversation",
        "tags": [
          "Conversations"
        ],
        "summary": "End conversation",
        "description": "End an active conversation session.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Conversation"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/games": {
      "get": {
        "operationId": "listGames",
        "tags": [
          "Games"
        ],
        "summary": "List available games",
        "description": "List all games that personalities can play.",
        "responses": {
          "200": {
            "description": "List of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/GameDefinition"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game-sessions": {
      "post": {
        "operationId": "createGameSession",
        "tags": [
          "Games"
        ],
        "summary": "Create game session",
        "description": "Start a new game session with a personality.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateGameSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Game session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/GameSession"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      },
      "get": {
        "operationId": "listGameSessions",
        "tags": [
          "Games"
        ],
        "summary": "List game sessions",
        "description": "List game sessions.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "./components/schemas.json#/GameSessionStatus"
            }
          },
          {
            "$ref": "./components/parameters.json#/LimitParam"
          },
          {
            "$ref": "./components/parameters.json#/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of game sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/GameSession"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game-sessions/{session_id}": {
      "get": {
        "operationId": "getGameSession",
        "tags": [
          "Games"
        ],
        "summary": "Get game session",
        "description": "Get game session details and state.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/GameSession"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/game-sessions/{session_id}/move": {
      "post": {
        "operationId": "submitGameMove",
        "tags": [
          "Games"
        ],
        "summary": "Submit move",
        "description": "Submit a move in a game session. Returns the personality's response move.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/GameMoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Move result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/GameMoveResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "tags": [
          "Integrations"
        ],
        "summary": "List webhooks",
        "description": "List all webhook endpoints.",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "./components/responses.json#/BadRequest"
          }
        }
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "operationId": "getWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Get webhook",
        "description": "Get webhook details.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Update webhook",
        "description": "Update webhook configuration.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas.json#/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Delete webhook",
        "description": "Delete a webhook endpoint.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/integrations": {
      "get": {
        "operationId": "listUserIntegrations",
        "tags": [
          "Integrations"
        ],
        "summary": "List user integrations",
        "description": "List connected third-party integrations for a user.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "./components/schemas.json#/UserIntegration"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    },
    "/users/{user_id}/integrations/{provider}": {
      "delete": {
        "operationId": "disconnectIntegration",
        "tags": [
          "Integrations"
        ],
        "summary": "Disconnect integration",
        "description": "Disconnect a third-party integration for a user.",
        "parameters": [
          {
            "$ref": "./components/parameters.json#/UserIdParam"
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "spotify",
                "apple_music",
                "calendar"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas.json#/DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "./components/responses.json#/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Use your secret key (starts with `sk_`) as a Bearer token."
      }
    }
  }
}