{
  "openapi": "3.1.0",
  "info": {
    "title": "Spike API",
    "description": "AI companion platform API - create personalities that see, listen, speak, remember, and play.",
    "version": "1.0.0",
    "contact": {
      "name": "Spike Labs",
      "email": "developers@spikelabsinc.com",
      "url": "https://www.spikelabs.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.spikelabs.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.spikelabs.com/v1",
      "description": "Production"
    },
    {
      "url": "https://api.spikelabs.com/v1-sandbox",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "API Keys",
      "description": "Manage API keys for authentication",
      "x-displayName": "API Keys"
    },
    {
      "name": "Personalities",
      "description": "Define AI personality, voice, and appearance",
      "x-displayName": "Personalities"
    },
    {
      "name": "Users",
      "description": "Manage end users who interact with personalities",
      "x-displayName": "Users"
    },
    {
      "name": "Memories",
      "description": "User memories scoped per personality",
      "x-displayName": "Memories"
    },
    {
      "name": "Chat",
      "description": "Text-based chat completions",
      "x-displayName": "Chat"
    },
    {
      "name": "Voice",
      "description": "Speech synthesis and recognition",
      "x-displayName": "Voice"
    },
    {
      "name": "Video",
      "description": "Asynchronous video generation",
      "x-displayName": "Video"
    },
    {
      "name": "Image",
      "description": "Image generation and editing",
      "x-displayName": "Image"
    },
    {
      "name": "Knowledge",
      "description": "Personality knowledge base management",
      "x-displayName": "Knowledge"
    },
    {
      "name": "Conversations",
      "description": "Real-time WebRTC voice/video sessions",
      "x-displayName": "Conversations"
    },
    {
      "name": "Games",
      "description": "Turn-based games with personalities",
      "x-displayName": "Games"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations and webhooks",
      "x-displayName": "Integrations"
    },
    {
      "name": "Journey Marketplace",
      "description": "Browse and discover journeys",
      "x-displayName": "Journey Marketplace"
    },
    {
      "name": "User Journeys",
      "description": "User journey enrollment and progress",
      "x-displayName": "User Journeys"
    },
    {
      "name": "User Journey Steps",
      "description": "Step completion and responses",
      "x-displayName": "User Journey Steps"
    },
    {
      "name": "User Journey Deliverables",
      "description": "User-created content from journeys",
      "x-displayName": "User Journey Deliverables"
    },
    {
      "name": "Journeys",
      "description": "Journey template management",
      "x-displayName": "Journeys"
    },
    {
      "name": "Journey Steps",
      "description": "Step management within journeys",
      "x-displayName": "Journey Steps"
    },
    {
      "name": "Journey Blocks",
      "description": "Block management within steps",
      "x-displayName": "Journey Blocks"
    },
    {
      "name": "Journey Reaction Templates",
      "description": "Companion reaction prompt templates",
      "x-displayName": "Journey Reaction Templates"
    }
  ],
  "paths": {
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "List all API keys for the authenticated organization. Secret keys are partially redacted.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_ApiKey"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Spike_API_Unauthorized"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Create API key",
        "description": "Create a new API key. The full secret is only returned once at creation time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_ApiKeyWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Spike_API_Unauthorized"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/api-keys/{key_id}": {
      "get": {
        "operationId": "getApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Get API key",
        "description": "Retrieve details of a specific API key.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key ID (starts with `key_`)"
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_ApiKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Update API key",
        "description": "Update API key name or permissions.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_UpdateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_ApiKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke API key",
        "description": "Permanently revoke an API key. This action cannot be undone.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/personalities": {
      "get": {
        "operationId": "listPersonalities",
        "tags": [
          "Personalities"
        ],
        "summary": "List personalities",
        "description": "List all personalities in the organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of personalities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_Personality"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Spike_API_Unauthorized"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createPersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Create personality",
        "description": "Create a new AI personality with voice, appearance, and behavioral traits.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreatePersonalityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Personality created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Personality"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Spike_API_Unauthorized"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/personalities/{personality_id}": {
      "get": {
        "operationId": "getPersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Get personality",
        "description": "Retrieve a specific personality by ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Personality details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Personality"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updatePersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Update personality",
        "description": "Update an existing personality. Only provided fields are updated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_UpdatePersonalityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personality updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Personality"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deletePersonality",
        "tags": [
          "Personalities"
        ],
        "summary": "Delete personality",
        "description": "Delete a personality and all associated knowledge base data. Active conversations using this personality will be terminated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Personality deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "List all users in the organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by external ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_User"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Spike_API_Unauthorized"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "summary": "Create user",
        "description": "Create a new user. Users represent the people interacting with your AI personalities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "409": {
            "description": "User with this external_id already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "description": "Retrieve a specific user by ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateUser",
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "Update user metadata or settings.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Delete a user and all associated memories and integration connections. This action cannot be undone.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/external/{external_id}": {
      "get": {
        "operationId": "getUserByExternalId",
        "tags": [
          "Users"
        ],
        "summary": "Get user by external ID",
        "description": "Retrieve a user by your external identifier.",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your external user identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}/memories": {
      "get": {
        "operationId": "listMemories",
        "tags": [
          "Memories"
        ],
        "summary": "List memories",
        "description": "List all memories for a user, optionally filtered by personality.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          },
          {
            "name": "personality_id",
            "in": "query",
            "description": "Filter by personality",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "schema": {
              "$ref": "#/components/schemas/Spike_API_MemoryCategory"
            }
          },
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of memories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_Memory"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Create memory",
        "description": "Manually create a memory for a user-personality pair.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Memory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteAllMemories",
        "tags": [
          "Memories"
        ],
        "summary": "Delete all memories",
        "description": "Delete all memories for a user, optionally filtered by personality.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          },
          {
            "name": "personality_id",
            "in": "query",
            "description": "Only delete memories for this personality",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memories deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted_count"
                  ],
                  "properties": {
                    "deleted_count": {
                      "type": "integer",
                      "description": "Number of memories deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}/memories/{memory_id}": {
      "get": {
        "operationId": "getMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Get memory",
        "description": "Retrieve a specific memory.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_MemoryIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Memory"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Update memory",
        "description": "Update a memory's content or category.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_MemoryIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_UpdateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Memory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteMemory",
        "tags": [
          "Memories"
        ],
        "summary": "Delete memory",
        "description": "Delete a specific memory.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_MemoryIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}/memories/search": {
      "post": {
        "operationId": "searchMemories",
        "tags": [
          "Memories"
        ],
        "summary": "Search memories",
        "description": "Semantic search across a user's memories.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "personality_id": {
                    "type": "string",
                    "description": "Filter by personality"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 100
                  },
                  "min_relevance": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Minimum relevance score (0-1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Spike_API_Memory"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "relevance": {
                                "type": "number",
                                "description": "Relevance score (0-1)"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}/memories/bulk": {
      "post": {
        "operationId": "bulkCreateMemories",
        "tags": [
          "Memories"
        ],
        "summary": "Bulk create memories",
        "description": "Create multiple memories at once.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "personality_id",
                  "memories"
                ],
                "properties": {
                  "personality_id": {
                    "type": "string",
                    "description": "Personality to associate memories with"
                  },
                  "memories": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "content"
                      ],
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "category": {
                          "$ref": "#/components/schemas/Spike_API_MemoryCategory"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memories created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "created_count",
                    "data"
                  ],
                  "properties": {
                    "created_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_Memory"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "summary": "Create chat completion",
        "description": "Generate a chat response using a personality. Supports streaming via SSE.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-sent events stream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Spike_API_Unauthorized"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/voice/synthesize": {
      "post": {
        "operationId": "synthesizeSpeech",
        "tags": [
          "Voice"
        ],
        "summary": "Synthesize speech",
        "description": "Convert text to speech using a personality's voice configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_SynthesizeSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio data",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/voice/recognize": {
      "post": {
        "operationId": "recognizeSpeech",
        "tags": [
          "Voice"
        ],
        "summary": "Recognize speech",
        "description": "Convert speech audio to text.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "audio"
                ],
                "properties": {
                  "audio": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file (mp3, wav, webm, ogg)"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g., 'en', 'es')",
                    "default": "en"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional context to improve recognition"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_TranscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/video/generations": {
      "post": {
        "operationId": "createVideoGeneration",
        "tags": [
          "Video"
        ],
        "summary": "Create video generation",
        "description": "Generate a video of a personality speaking. This is an async operation - poll the returned ID for status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Video generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_VideoGeneration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listVideoGenerations",
        "tags": [
          "Video"
        ],
        "summary": "List video generations",
        "description": "List video generation jobs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Spike_API_VideoStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of video generations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_VideoGeneration"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/video/generations/{generation_id}": {
      "get": {
        "operationId": "getVideoGeneration",
        "tags": [
          "Video"
        ],
        "summary": "Get video generation",
        "description": "Get the status and result of a video generation job.",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_VideoGeneration"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "cancelVideoGeneration",
        "tags": [
          "Video"
        ],
        "summary": "Cancel video generation",
        "description": "Cancel a pending video generation job.",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_VideoGeneration"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/image/generations": {
      "post": {
        "operationId": "createImageGeneration",
        "tags": [
          "Image"
        ],
        "summary": "Generate image",
        "description": "Generate an image from a text prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/image/edits": {
      "post": {
        "operationId": "createImageEdit",
        "tags": [
          "Image"
        ],
        "summary": "Edit image",
        "description": "Edit an existing image based on a prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "prompt"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Source image to edit"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Mask indicating areas to edit"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description of the edit"
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "default": "1024x1024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/personalities/{personality_id}/knowledge": {
      "get": {
        "operationId": "listKnowledgeItems",
        "tags": [
          "Knowledge"
        ],
        "summary": "List knowledge items",
        "description": "List all knowledge items for a personality.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Spike_API_KnowledgeType"
            }
          },
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of knowledge items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_KnowledgeItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createKnowledgeItem",
        "tags": [
          "Knowledge"
        ],
        "summary": "Add knowledge item",
        "description": "Add a document, URL, or text to a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateKnowledgeRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file (PDF, TXT, MD, DOCX)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Knowledge item created (processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_KnowledgeItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/personalities/{personality_id}/knowledge/{item_id}": {
      "get": {
        "operationId": "getKnowledgeItem",
        "tags": [
          "Knowledge"
        ],
        "summary": "Get knowledge item",
        "description": "Get details of a knowledge item.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_KnowledgeItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteKnowledgeItem",
        "tags": [
          "Knowledge"
        ],
        "summary": "Delete knowledge item",
        "description": "Remove a knowledge item from a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/personalities/{personality_id}/knowledge/search": {
      "post": {
        "operationId": "searchKnowledge",
        "tags": [
          "Knowledge"
        ],
        "summary": "Search knowledge",
        "description": "Semantic search across a personality's knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_PersonalityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 5,
                    "maximum": 20
                  },
                  "min_relevance": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_KnowledgeSearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/conversations": {
      "post": {
        "operationId": "createConversation",
        "tags": [
          "Conversations"
        ],
        "summary": "Create conversation",
        "description": "Start a new real-time conversation session. Returns connection details for WebRTC.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listConversations",
        "tags": [
          "Conversations"
        ],
        "summary": "List conversations",
        "description": "List conversation sessions.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personality_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Spike_API_ConversationStatus"
            }
          },
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_Conversation"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/conversations/{conversation_id}": {
      "get": {
        "operationId": "getConversation",
        "tags": [
          "Conversations"
        ],
        "summary": "Get conversation",
        "description": "Get conversation details including transcript.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_transcript",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Conversation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "endConversation",
        "tags": [
          "Conversations"
        ],
        "summary": "End conversation",
        "description": "End an active conversation session.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Conversation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/games": {
      "get": {
        "operationId": "listGames",
        "tags": [
          "Games"
        ],
        "summary": "List available games",
        "description": "List all games that personalities can play.",
        "responses": {
          "200": {
            "description": "List of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_GameDefinition"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/game-sessions": {
      "post": {
        "operationId": "createGameSession",
        "tags": [
          "Games"
        ],
        "summary": "Create game session",
        "description": "Start a new game session with a personality.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateGameSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Game session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_GameSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listGameSessions",
        "tags": [
          "Games"
        ],
        "summary": "List game sessions",
        "description": "List game sessions.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Spike_API_GameSessionStatus"
            }
          },
          {
            "$ref": "#/components/parameters/Spike_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/Spike_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of game sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_GameSession"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/game-sessions/{session_id}": {
      "get": {
        "operationId": "getGameSession",
        "tags": [
          "Games"
        ],
        "summary": "Get game session",
        "description": "Get game session details and state.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_GameSession"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/game-sessions/{session_id}/move": {
      "post": {
        "operationId": "submitGameMove",
        "tags": [
          "Games"
        ],
        "summary": "Submit move",
        "description": "Submit a move in a game session. Returns the personality's response move.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_GameMoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Move result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_GameMoveResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "tags": [
          "Integrations"
        ],
        "summary": "List webhooks",
        "description": "List all webhook endpoints.",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Spike_API_BadRequest"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "operationId": "getWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Get webhook",
        "description": "Get webhook details.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Update webhook",
        "description": "Update webhook configuration.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spike_API_UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteWebhook",
        "tags": [
          "Integrations"
        ],
        "summary": "Delete webhook",
        "description": "Delete a webhook endpoint.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}/integrations": {
      "get": {
        "operationId": "listUserIntegrations",
        "tags": [
          "Integrations"
        ],
        "summary": "List user integrations",
        "description": "List connected third-party integrations for a user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Spike_API_UserIntegration"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/users/{user_id}/integrations/{provider}": {
      "delete": {
        "operationId": "disconnectIntegration",
        "tags": [
          "Integrations"
        ],
        "summary": "Disconnect integration",
        "description": "Disconnect a third-party integration for a user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Spike_API_UserIdParam"
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "spotify",
                "apple_music",
                "calendar"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spike_API_DeletedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Spike_API_NotFound"
          }
        },
        "security": [
          {
            "Spike_API_ApiKeyAuth": []
          }
        ]
      }
    },
    "/marketplace/journeys": {
      "get": {
        "tags": [
          "Journey Marketplace"
        ],
        "summary": "Browse available journeys",
        "description": "Returns published journeys available for enrollment",
        "operationId": "browseJourneys",
        "parameters": [
          {
            "$ref": "#/components/parameters/User_Journeys_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/User_Journeys_API_CursorParam"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/User_Journeys_API_JourneyCategory"
            }
          },
          {
            "name": "price_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/User_Journeys_API_PriceType"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Filter by duration type",
            "schema": {
              "type": "string",
              "enum": [
                "short",
                "medium",
                "long",
                "ongoing"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "newest",
                "rating",
                "trending"
              ],
              "default": "popular"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available journeys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_JourneyListing"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/marketplace/journeys/featured": {
      "get": {
        "tags": [
          "Journey Marketplace"
        ],
        "summary": "Get featured journeys",
        "operationId": "getFeaturedJourneys",
        "responses": {
          "200": {
            "description": "Featured journeys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_JourneyListing"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/marketplace/journeys/{journey_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_JourneyIdParam"
        }
      ],
      "get": {
        "tags": [
          "Journey Marketplace"
        ],
        "summary": "Get journey details",
        "description": "Returns full journey details for the listing page",
        "operationId": "getJourneyDetails",
        "responses": {
          "200": {
            "description": "Journey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_JourneyDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/User_Journeys_API_NotFound"
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/marketplace/journeys/{journey_id}/preview": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_JourneyIdParam"
        }
      ],
      "get": {
        "tags": [
          "Journey Marketplace"
        ],
        "summary": "Preview journey steps",
        "description": "Returns a preview of the first few steps (no content, just titles)",
        "operationId": "previewJourneySteps",
        "responses": {
          "200": {
            "description": "Step preview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total_steps"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_StepPreview"
                      }
                    },
                    "total_steps": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys": {
      "get": {
        "tags": [
          "User Journeys"
        ],
        "summary": "List user's journeys",
        "description": "Returns all journeys the user is enrolled in or has completed",
        "operationId": "listUserJourneys",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/User_Journeys_API_UserJourneyStatus"
            }
          },
          {
            "$ref": "#/components/parameters/User_Journeys_API_LimitParam"
          },
          {
            "$ref": "#/components/parameters/User_Journeys_API_CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User's journeys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_UserJourney"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/active": {
      "get": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Get active journeys",
        "description": "Returns only active (in-progress) journeys with current step info",
        "operationId": "getActiveJourneys",
        "responses": {
          "200": {
            "description": "Active journeys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_UserJourneyActive"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/start": {
      "post": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Start a journey",
        "description": "Enrolls the user in a journey and unlocks the first step",
        "operationId": "startJourney",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "journey_id"
                ],
                "properties": {
                  "journey_id": {
                    "type": "string",
                    "description": "Journey ID (starts with `jrn_`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Journey started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserJourneyStarted"
                }
              }
            }
          },
          "400": {
            "description": "Cannot start journey (already enrolled, insufficient currency, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (insufficient gems/coins)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_PaymentRequiredError"
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "get": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Get user journey details",
        "description": "Returns full details of user's journey progress",
        "operationId": "getUserJourney",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "steps",
                  "current_step",
                  "deliverables"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User journey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserJourneyDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/User_Journeys_API_NotFound"
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Pause journey",
        "description": "Pauses the journey (stops streak tracking)",
        "operationId": "pauseJourney",
        "responses": {
          "200": {
            "description": "Journey paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserJourney"
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Resume journey",
        "description": "Resumes a paused journey",
        "operationId": "resumeJourney",
        "responses": {
          "200": {
            "description": "Journey resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserJourneyResumed"
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/abandon": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Abandon journey",
        "description": "Abandons the journey (can be restarted later)",
        "operationId": "abandonJourney",
        "responses": {
          "200": {
            "description": "Journey abandoned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserJourney"
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/catch-up": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Use catch-up",
        "description": "Uses a catch-up to preserve streak after missed day(s)",
        "operationId": "useCatchUp",
        "responses": {
          "200": {
            "description": "Catch-up used",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_CatchUpResult"
                }
              }
            }
          },
          "400": {
            "description": "No catch-ups remaining or not applicable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/rate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journeys"
        ],
        "summary": "Rate completed journey",
        "description": "Submit rating for a completed journey",
        "operationId": "rateJourney",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "feedback": {
                    "type": "string",
                    "maxLength": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rating submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Journey not completed or already rated"
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/steps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "get": {
        "tags": [
          "User Journey Steps"
        ],
        "summary": "List all steps with status",
        "description": "Returns all steps in the journey with user's completion status",
        "operationId": "listUserSteps",
        "responses": {
          "200": {
            "description": "Steps with status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_UserStepSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/current-step": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        }
      ],
      "get": {
        "tags": [
          "User Journey Steps"
        ],
        "summary": "Get current step",
        "description": "Returns the current step with full blocks ready for rendering",
        "operationId": "getCurrentStep",
        "responses": {
          "200": {
            "description": "Current step with blocks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_CurrentStep"
                }
              }
            }
          },
          "404": {
            "description": "No current step (journey completed or paused)"
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/steps/{user_step_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        },
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserStepIdParam"
        }
      ],
      "get": {
        "tags": [
          "User Journey Steps"
        ],
        "summary": "Get step details",
        "description": "Returns step details with user's responses (if completed)",
        "operationId": "getUserStep",
        "responses": {
          "200": {
            "description": "Step details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserStepDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/User_Journeys_API_NotFound"
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/steps/{user_step_id}/start": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        },
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserStepIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journey Steps"
        ],
        "summary": "Start step",
        "description": "Marks the step as started (for time tracking)",
        "operationId": "startStep",
        "responses": {
          "200": {
            "description": "Step started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_UserStepDetail"
                }
              }
            }
          },
          "400": {
            "description": "Step not available (locked, already completed)"
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/steps/{user_step_id}/complete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        },
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserStepIdParam"
        }
      ],
      "post": {
        "tags": [
          "User Journey Steps"
        ],
        "summary": "Complete step",
        "description": "Submits responses for the step and marks it complete.\nReturns companion reaction and unlocks next step.\n",
        "operationId": "completeStep",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User_Journeys_API_StepCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_StepCompletionResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid responses or step not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User_Journeys_API_ValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "User_Journeys_API_bearerAuth": []
          }
        ]
      }
    },
    "/user/journeys/{user_journey_id}/steps/{user_step_id}/responses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserJourneyIdParam"
        },
        {
          "$ref": "#/components/parameters/User_Journeys_API_UserStepIdParam"
        }
      ],
      "get": {
        "tags": [
          "User Journey Steps"
        ],
        "summary": "Get step responses",
        "description": "Returns the user's responses for a completed step",
        "operationId": "getStepResponses",
        "responses": {
          "200": {
            "description": "Step responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User_Journeys_API_BlockResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
[...]
